body {
    font-family: 'Open Sans', sans-serif;
    background-color: grey;
}

.container {
    width: 400px;
    height: 450px;
    background-color: blueviolet;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    padding: 20px 0px 0px 100px;
    border-radius: 50px;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: none;
}

input:focus {
    outline: none;
}

h1 {
    font-size: 40px;
}